.banner-bg {
  height: 100vh;
  position: relative;
  background-image: url('../../public/bg.jpg');
  background-size: contain;
  mix-blend-mode: difference;
  background-color: beige;
}
.title {
  font-size: 30px;
  color:black;
  line-height: 45px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}

.card{
  box-sizing: border-box;
  padding: 50px 65px;
  background: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  width: 430px;
  height: fit-content;
  margin: 20px auto;
  position: relative;
  height: 420px;
}
.card >form{
  background-color: #FFFFFF;
  z-index: 2;
}