.banner-bg {
  height: 350px;
  position: relative;
}
.title {
  font-size: 30px;
  color:black;
  line-height: 45px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 50px;
}
.bg{
  position: absolute;
  top:10vh;
  width: 100vw;
  height: 70vh;
  z-index: -1;
  background-image: url('../../public/pieple.jpeg') ,url('../../public/bol.jpeg');
  background-repeat: no-repeat;
  background-position:right,left;
  background-size: 50vw,50vw;
  border: 0px solid white;
}
.card{
  box-sizing: border-box;
  padding: 50px 65px;
  background: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  width: 430px;
  margin: 0 auto;
  position: relative;
  height: 320px;
}
