.banner-bg {
  height: 350px;
  position: relative;
  background: #3776FF;
  background-image: -webkit-linear-gradient(left, #3776FF, #548AFF);
}
.title {
  font-size: 30px;
  color: #FFFFFF;
  line-height: 45px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 50px;
}
.card{
  box-sizing: border-box;
  padding: 50px 65px;
  background: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  width: 430px;
  margin: 0 auto;
  position: relative;
  height: 320px;
}
