.container{
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  width: 1200px;
}
@media screen and (max-width: 1280px){
  .container{
      box-sizing: content-box;
      width: 960px;
  }
}