.serious{
  min-width: 70vw;
  min-height: 50vh;
}
.serious::after{
  clear: both;
}
.bar{
  min-width: 70vw;
  min-height: 50vh;
  margin-right: 20vw;
}
.flex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
.bg{
  position: relative;
  min-height: 100vh;
  margin: 20px;
}